<section class="ui ">
  <h1>Welcome to the POI's</h1>

  {{#each pois}}
    <a class="ui " href="/poi/{{_id}}">
    <div class="ui raised segment">
      <h1>{{name}}</h1>
      <h2>{{category.name}}</h2>
      <p>Longitude : {{geo.long}}  Latitude : {{geo.lat}}</p>
    </div>
    </a>
  {{/each}}
</section>