{{> mainmenu }}

<section class="ui stacked segment">
  <div class="ui grid">
  <aside class="six wide column">
    <img src="../../images/homer.png" class="ui medium image">
  </aside>


  <article class="ui ten wide column">
    <div class="ui stacked fluid form segment">
      <form action="/poi/update/{{poi._id}}" method="POST">
        <h3 class="ui header">Create Point Of Interest</h3>
        <div class="field">
          <label>Name</label>
          <input value="{{poi.name}}" type="text" name="name">
        </div>
        <div class="field">
          <label>Coastal Zone</label>
          <input value="{{poi.coastalZone}}" type="text" name="coastalZone">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea rows="4" name="description">{{poi.description}}</textarea>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Longitude</label>
            <input value="{{poi.geo.long}}" type="text" name="long">
          </div>
          <div class="field">
            <label>Latitude</label>
            <input value="{{poi.geo.lat}}" type="text" name="lat">
          </div>
        </div>
        <button class="ui blue submit button">Save</button>
      </form>
      {{> error}}
    </div>
  </article>
  </div>
</section>